# Ignore all log files
logs/*
# Ignore all virtual environments
.venv/*
# Ignore all files in development folder
development/*
# Ignore all videos
*.mp4
# Ignore all audio files
*.wav
# Ignore all files in the temp folder
temp/*
# Ignore all intermediate JSON files when transcripting audio
data/interim/audio_text_list/*
data/videos.zip