# Ignore all log files
logs/*
# Ignore all virtual environments
.venv/*
# Ignore all files in development folder
development/*
data/*
src/user_dashboard/*
# Ignore all videos
*.mp4
# Ignore json
*.json